@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

:root {
    --desred: hsl(0, 36%, 70%);
    --softred: hsl(0, 93%, 68%);
    --darkgreyishred: hsl(0, 6%, 24%);
    --gradient1: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
    --gradient2: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    --font: "Josefin Sans", sans-serif;
}

* {
    font-family: var(--font);
    padding: 0;
    margin: 0;
}

#thinh {
    font-size: 10vh;
    font-weight: 300;
    text-transform: uppercase;
    color: var(--desred);
}

#boldh {
    font-size: 10vh;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--darkgreyishred)
}

#text {

}

#email {

}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

    .content {
        background: url('./images/bg-pattern-desktop.svg'), var(--gradient1);
        width: 57%;
        height: 100vh;
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 3%;
        padding-left: 12%;
        box-sizing: border-box;
    }


    .image {
        background-image: url('./images/hero-desktop.jpg');
        width: 43%;
        height: 100vh;
        object-fit: cover;
        background-repeat: no-repeat;
        background-size: cover;
    }
